<!DOCTYPE html>
<html>
<head>
  <title>Assignment 4: Fantasy Hockey World - Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  <h1>Welcome to the Dashboard</h1>

  <h2>Create Team</h2>
  <form action="/teams" method="POST">
    <input type="text" name="teamName" placeholder="Team Name">
    <button type="submit">Create</button>
  </form>

  <h2>My Teams</h2>
  {{#if teams.length}}
    <ul>
      {{#each teams}}
        <li class="list-group teams">
          {{this.name}}
          <form action="/teams/{{this._id}}/delete" method="POST" style="display: inline-block;">
            <button type="submit">Delete</button>
          </form>

          <h4>Add Player</h4>
          <form action="/teams/{{this._id}}/players" method="POST">
            <input type="hidden" name="teamId" value="{{this._id}}">
            <input type="text" name="name" placeholder="Player Name">
            <input type="text" name="position" placeholder="Player Position">
            <input type="number" name="salary" placeholder="Player Salary">
            <button type="submit">Add Player</button>
          </form>

          <h4>Players</h4>
          {{#if this.players.length}}
            <table class="table table-dark">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Salary</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each this.players}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.position}}</td>
                    <td>{{this.salary}}</td>
                    <td>
                      <form action="/teams/{{../this._id}}/players/{{this._id}}/edit" method="GET" style="display: inline-block;">
                        <button type="submit">Edit</button>
                      </form>
                    </td>
                    <!-- <td>
                      <form action="/teams/{{../this._id}}/players/{{this._id}}/delete" method="POST" style="display: inline-block;">
                        <input type="hidden" name="confirmDelete" value="true">
                        <button type="submit">Delete</button>
                      </form>
                    </td> -->
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <p>No players found in this team.</p>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No teams found.</p>
  {{/if}}
</body>
</html>
